.casilla {
    border: 5px outset rgb(25, 45, 160);
    background-color: lightblue;    
    text-align: center;
    width: 100px;
  }

  .columna {
    height: 400px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(130, 136, 132);
    border-width: 1px;
    padding: 15px;
    width: 300px;
    margin: 20px 5px;

  }

  .nivel {
    height: 60px;
    max-height: 60px;
    width: 100%;
  }

  .estiba {
    height: 100%;
    background-color: lightgray;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    width: 50px;
  }

  .estiba-activa {
    height: 100%;
    background-color: rgb(102, 110, 221);
    border-style: solid;
    border-color: rgb(19, 25, 105);
    border-width: 1px;
    width: 50px;
    text-align: center;
  }

  .container-columns {
    margin: 10px;
    width: 100%;
  }