<mat-form-field appearance="fill">
  <mat-label>Estante</mat-label>
  <mat-select name="selectEstante" [(ngModel)]="EstanteSelected">
    <mat-option *ngFor="let estante of estantes" [value]="estante">
      {{estante.nombre}} ({{estante.prefijo}})
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="EstanteSelected.columnas" fxLayout="row wrap" fxLayoutAlign="space-around center" class="container-columns">
  <div fxLayout="column" fxLayoutAlign="stretch"
    *ngFor="let columna of EstanteSelected.columnas; let indColumna = index;" class="columna">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" >
      <h5> {{columna.codigo}}</h5>
      <button mat-icon-button aria-label="agregar estiba" (click)="openDialog(columna)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div fxFlex></div>
    <div fxLayout="row" class="nivel" fxLayoutAlign="center" 
      *ngFor="let nivel of fnGetLayoutLevels(columna.nivelMaximo); let idxNiveles = index;">
      <div fxLayout="row" fxLayoutAlign="center" fxFlex
        *ngFor="let estiba of fnGetLayoutPallet(columna.estibasMaximas); let idxEstiba = index;" 
        [ngClass]="{'estiba': fnFindPalletByColumnAndLevel(columna, nivel+1, idxEstiba+1) == null, 
          'estiba-activa': fnFindPalletByColumnAndLevel(columna, nivel+1, idxEstiba+1) }"
        class="estiba">
        {{getPalletsName(fnFindPalletByColumnAndLevel(columna, nivel+1, idxEstiba+1))}} 
      </div>
    </div>
  </div>
</div>
