<form [formGroup]="profileForm">
    <div fxLayout="column">
        <mat-form-field class="example-full-width">
            <mat-label>Código</mat-label>
            <input matInput name="codigo" formControlName="codigo" [(ngModel)]="estiba.codigo" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Nivel</mat-label>
            <input matInput formControlName="nivel" [(ngModel)]="estiba.nivel" required>
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label>Posición estiba</mat-label>
            <input matInput formControlName="posicion" [(ngModel)]="estiba.posicion" required>
          </mat-form-field>
        <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!profileForm.valid">Agregar</button>
        <button mat-flat-button color="Warn" mat-dialog-close>Cancelar</button>
    </div>    
  </form>
